Repository facelessuser/soupsieve, pull requests merged in 2019-01, with the labels that each got.

#57 Test in Python3.8
  .travis.yml
  tox.ini
Labels: integration, maintenance, work-in-progress

#62 Don't use \d for numbers
  soupsieve/css_parser.py
Labels: approved, bug, selectors

#64 Better Re pattern for attr values that works with older Python Re
  soupsieve/css_parser.py
Labels: approved, bug, selectors

#83 Fix issue that prevents using a leading combinator in :has() selector that is not the first selector
  docs/src/markdown/about/changelog.md
  soupsieve/__meta__.py
  soupsieve/css_parser.py
  tests/test_level4.py
  tests/test_soupsieve.py
Labels: bug, css-level-4, selectors

#86 Refactor of match
  soupsieve/__init__.py
  soupsieve/css_match.py
  soupsieve/util.py
Labels: approved, maintenance

#88 Fix type selector HTML detection
  docs/src/markdown/about/changelog.md
  soupsieve/css_match.py
  tests/test_level2.py
  tests/util.py
Labels: bug, css-level-2, selectors

#96 Fix case regressions and issues
  docs/src/markdown/about/changelog.md
  docs/src/markdown/api.md
  soupsieve/__meta__.py
  soupsieve/css_match.py
  tests/test_bs4_cases.py
  tests/test_level1.py
  tests/test_level2.py
  tests/test_level3.py
Labels: approved, bug, selectors

#100 Skip tests that require html5lib or lxml when not available
  .travis.yml
  tests/test_api.py
  tests/test_bs4_cases.py
  tests/test_level2/test_child.py
  tests/test_level3/test_nth_child.py
  tests/test_level4/test_dir.py
  tests/test_level4/test_scope.py
  tests/util.py
  tox.ini
Labels: approved, integration, maintenance
