Repository facelessuser/soupsieve, pull requests merged in 2020-03, with the labels that each got.

#180 Drop travis appveyor
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/pullrequest.yml
  .travis.yml
  appveyor.yml
  tox.ini
Labels: C: infrastructure, S: approved

#185 Remove unused variable MODULE
  soupsieve/util.py
Labels: C: source, S: approved

#186 Fix document building
  .github/workflows/deploy.yml
  README.md
  mkdocs.yml
  requirements/docs.txt
Labels: C: docs, C: infrastructure, S: approved
