Repository facelessuser/soupsieve, pull requests merged in 2022-11, with the labels that each got.

#253 Add support for Python 3.11
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  docs/src/markdown/about/development.md
  hatch_build.py
  tox.ini
Labels: C: docs, S: approved, C: infrastructure

#254 Remove old PY2 requirements and and adjust test requirements for 3.11
  .github/workflows/build.yml
  requirements/project.txt
  requirements/tests-nohtml5lib.txt
  requirements/tests-nolxml.txt
  tox.ini
Labels: S: approved, C: infrastructure

#256 Changes to `:lang()` as defined in recent CSS spec update
  docs/src/dictionary/en-custom.txt
  docs/src/markdown/about/changelog.md
  soupsieve/__meta__.py
  soupsieve/css_match.py
  tests/test_level4/test_lang.py
Labels: C: docs, C: css-level-4, S: approved, C: tests, C: source, C: css-matching
