Repository facelessuser/soupsieve, pull requests merged in 2024-07, with the labels that each got.

#269 Add support for nesting ampersand
  LICENSE.md
  README.md
  docs/src/markdown/about/changelog.md
  docs/src/markdown/selectors/pseudo-classes.md
  mkdocs.yml
  pyproject.toml
  soupsieve/__init__.py
  soupsieve/__meta__.py
  soupsieve/css_match.py
  soupsieve/css_parser.py
  tests/test_nesting_1/__init__.py
  tests/test_nesting_1/test_amp.py
Labels: C: docs, C: API, S: approved, C: infrastructure, C: tests, C: source, C: css-parsing, C: css-matching

#270 Improve pseudo-class error message
  docs/src/markdown/about/changelog.md
  soupsieve/css_parser.py
  tests/test_level1/test_pseudo_class.py
Labels: C: docs, C: css-level-1, S: approved, C: tests, C: source, C: css-parsing

#272 fix Adjacent sibling combinator example
  docs/src/markdown/selectors/combinators.md
Labels: C: docs, S: approved
